datasets/ 
libtorch/
adept-2.1.1/
_skbuild/
build/
src/fast_altmin.egg-info/
.vscode/
cmake-build-*/
manual_build/
new_python/
*/__pycache__/
python/
tmp/
.idea/
tests/__pycache__/
stderr.txt
stdout.txt
artifacts/
